# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=orderdb
DB_USER=postgres
DB_PASSWORD=password

# JMS Configuration
JMS_BROKER_URL=tcp://activemq:61616
JMS_USER=admin
JMS_PASSWORD=admin

# Security Configuration
SPRING_SECURITY_USER_NAME=user
SPRING_SECURITY_USER_PASSWORD=password
